<footer class="container" id="bookstoreFooter" @*style="color:white;background-color:dimgrey;bottom:0px;*@">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>© 2018-2019 Sohail Bookstore, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>