@model Book
@{
    ViewData["Title"] = "Details";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron heading">@Model.Title</h1>
        <h5>@Model.Price</h5>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="~/images/@Model.image" class="img-fluid" alt="@Model.Title image" />
        </div>
        <div class="col-8">
            <p>@Model.Description</p>
            <a href="/home/order/@Model.Id" class="btn btn-lg btn-primary">Buy</a>
        </div>
    </div>

    <div class="row"></div>
    <br /><br /><br />
    <div class="row"></div>

    <div class="row"></div>

</div>
