
@{
    ViewData["Title"] = "ThankYou";
}
<br /><br /><br />
<div class="container">
    <div class="row">
        <h2 class="text-center">Thank you for your order.</h2>
        <div class="col-lg-10">
            <p>You book will be available to you soon.</p>
        </div>
        <div class="col-lg-10">
            <p>
                
            </p>
            <p>
                <a href="/home/OrdersList" class="btn btn-lg btn-primary">View Orders</a>
                <a href="/" class="btn btn-lg btn-primary">Continue Shopping</a>
            </p>
        </div>
    </div>
</div>

