body {
    width:100%;
}
#carouselImage {
   
}
.carousel-inner {
   
}
#bookstoreFooter {
   
    left: 0;
    bottom: 0;
    
    background-color: dimgrey;
    color: white;
    text-align: center;
   height:20%;
    width:100%;
    }
#bookstoreFooter a{
    color:white;
}